wsdl-lancet-plugin/src/test/resources/biletix2-target-00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.tais.ru/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://www.tais.ru/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.tais.ru/">
            <xs:complexType name="CIBESOAPError">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="data" type="soapenc:Struct"/>
                    <xs:element minOccurs="0" name="stack" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CommonParameters">
                <xs:sequence>
                    <xs:element name="session_token" type="xs:string"/>
                    <xs:element name="hash" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AirStop">
                <xs:sequence>
                    <xs:element name="city_code" type="xs:string"/>
                    <xs:element name="city_full_name" type="xs:string"/>
                    <xs:element name="airport_code" type="xs:string"/>
                    <xs:element minOccurs="0" name="airport_full_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="duration" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfAirStop">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="AirStop" nillable="true" type="tns:AirStop"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AirSegment">
                <xs:sequence>
                    <xs:element name="ak" type="xs:string"/>
                    <xs:element minOccurs="0" name="ak_full_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="oak" type="xs:string"/>
                    <xs:element minOccurs="0" name="oak_full_name" type="xs:string"/>
                    <xs:element name="flight_number" type="xs:string"/>
                    <xs:element minOccurs="0" name="plane_type" type="xs:string"/>
                    <xs:element minOccurs="0" name="plane_type_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="departure_city_code" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrival_city_code" type="xs:string"/>
                    <xs:element minOccurs="0"
                        name="departure_city_full_name" type="xs:string"/>
                    <xs:element minOccurs="0"
                        name="arrival_city_full_name" type="xs:string"/>
                    <xs:element minOccurs="0"
                        name="departure_airport_full_name" type="xs:string"/>
                    <xs:element minOccurs="0"
                        name="arrival_airport_full_name" type="xs:string"/>
                    <xs:element name="departure_time" type="xs:string"/>
                    <xs:element name="arrival_time" type="xs:string"/>
                    <xs:element name="departure_airport_code" type="xs:string"/>
                    <xs:element name="arrival_airport_code" type="xs:string"/>
                    <xs:element name="departure_date" type="xs:string"/>
                    <xs:element name="arrival_date" type="xs:string"/>
                    <xs:element name="arrival_utc" type="xs:string"/>
                    <xs:element name="departure_utc" type="xs:string"/>
                    <xs:element name="duration" type="xs:string"/>
                    <xs:element name="class" type="xs:string"/>
                    <xs:element name="rbd" type="xs:string"/>
                    <xs:element name="layover_time" type="xs:string"/>
                    <xs:element name="direction" type="xs:string"/>
                    <xs:element name="stops" type="tns:ArrayOfAirStop"/>
                    <xs:element minOccurs="0" name="bagtype" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagallowance" type="xs:string"/>
                    <xs:element minOccurs="0" name="fare_codes" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfAirSegment">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="AirSegment" nillable="true" type="tns:AirSegment"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductFare">
                <xs:sequence>
                    <xs:element name="marketing_fare_code" type="xs:string"/>
                    <xs:element name="fare_code" type="xs:string"/>
                    <xs:element name="fare_rules_key" type="xs:string"/>
                    <xs:element name="fare_description" type="xs:string"/>
                    <xs:element name="fare_description2" type="xs:string"/>
                    <xs:element name="fare_data" type="xs:string"/>
                    <xs:element name="refund_before" type="xs:string"/>
                    <xs:element name="refund_after" type="xs:string"/>
                    <xs:element name="exchange_before" type="xs:string"/>
                    <xs:element name="exchange_after" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SmallProductFare">
                <xs:sequence>
                    <xs:element name="marketing_fare_code" type="xs:string"/>
                    <xs:element name="fare_code" type="xs:string"/>
                    <xs:element name="fare_description" type="xs:string"/>
                    <xs:element name="fare_description2" type="xs:string"/>
                    <xs:element name="fare_data" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfProductFare">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="ProductFare" nillable="true" type="tns:ProductFare"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfSmallProductFare">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="SmallProductFare" nillable="true" type="tns:SmallProductFare"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="passcat" type="xs:string"/>
                    <xs:element name="price" type="xs:string"/>
                    <xs:element name="fare" type="xs:string"/>
                    <xs:element name="taxes" type="xs:string"/>
                    <xs:element name="count" type="xs:string"/>
                    <xs:element name="sum_price" type="xs:string"/>
                    <xs:element name="fares" type="tns:ArrayOfProductFare"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SmallProduct">
                <xs:sequence>
                    <xs:element name="passcat" type="xs:string"/>
                    <xs:element name="fares" type="tns:ArrayOfSmallProductFare"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfProduct">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="Product" nillable="true" type="tns:Product"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfSmallProduct">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="SmallProduct" nillable="true" type="tns:SmallProduct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOptimalFaresRoute">
                <xs:sequence>
                    <xs:element name="departure_point" type="xs:string"/>
                    <xs:element name="arrival_point" type="xs:string"/>
                    <xs:element name="outbound_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="outbound_time_range" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresRoute">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresRoute" nillable="true" type="tns:GetOptimalFaresRoute"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CommonSearchParameters">
                <xs:complexContent>
                    <xs:extension base="tns:CommonParameters">
                        <xs:sequence>
                            <xs:element name="owrt" type="xs:string"/>
                            <xs:element minOccurs="0" name="routes" type="tns:ArrayOfGetOptimalFaresRoute"/>
                            <xs:element minOccurs="0"
                                name="departure_point" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="arrival_point" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="outbound_date" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="outbound_time_range" type="xs:string"/>
                            <xs:element minOccurs="0" name="return_date" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="return_time_range" type="xs:string"/>
                            <xs:element name="adult_count" type="xs:string"/>
                            <xs:element minOccurs="0" name="child_count" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="infant_count" type="xs:string"/>
                            <xs:element minOccurs="0" name="class" type="xs:string"/>
                            <xs:element minOccurs="0" name="direct_only" type="xs:string"/>
                            <xs:element minOccurs="0" name="promocode" type="xs:string"/>
                            <xs:element minOccurs="0"
                                name="return_full_names" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="GetOptimalFaresInput">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:CommonSearchParameters">
                            <xs:sequence>
                                <xs:element minOccurs="0"
                                    name="date_range" type="xs:string"/>
                                <xs:element minOccurs="0"
                                    name="price_range" type="xs:string"/>
                                <xs:element minOccurs="0"
                                    name="cache_usage" type="xs:string"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="GetOptimalFaresLinkedFlightID">
                <xs:sequence>
                    <xs:element name="fare_id" type="xs:string"/>
                    <xs:element name="flight_id" type="xs:string"/>
                    <xs:element name="total_price" type="xs:string"/>
                    <xs:element name="products" type="tns:ArrayOfSmallProduct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresLinkedFlightID">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresLinkedFlightID"
                        nillable="true" type="tns:GetOptimalFaresLinkedFlightID"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOptimalFaresFlight">
                <xs:sequence>
                    <xs:element name="duration" type="xs:string"/>
                    <xs:element name="offer_id" type="xs:string"/>
                    <xs:element name="seat_count" type="xs:string"/>
                    <xs:element name="stops" type="xs:string"/>
                    <xs:element name="link" type="xs:string"/>
                    <xs:element minOccurs="0" name="flight_id"
                        nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="linked_flight_ids"
                        nillable="true" type="tns:ArrayOfGetOptimalFaresLinkedFlightID"/>
                    <xs:element name="segments" type="tns:ArrayOfAirSegment"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresFlight">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresFlight" nillable="true" type="tns:GetOptimalFaresFlight"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOptimalFaresLinkedFareID">
                <xs:sequence>
                    <xs:element name="fare_id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresLinkedFareID">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresLinkedFareID"
                        nillable="true" type="tns:GetOptimalFaresLinkedFareID"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOptimalFaresDirection">
                <xs:sequence>
                    <xs:element name="direction" type="xs:string"/>
                    <xs:element name="date" type="xs:string"/>
                    <xs:element name="flights" type="tns:ArrayOfGetOptimalFaresFlight"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresDirection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresDirection" nillable="true" type="tns:GetOptimalFaresDirection"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOptimalFaresOffer">
                <xs:sequence>
                    <xs:element name="ak" type="xs:string"/>
                    <xs:element name="charter" type="xs:string"/>
                    <xs:element name="block" type="xs:string"/>
                    <xs:element name="transit_visa_required" type="xs:string"/>
                    <xs:element name="products" type="tns:ArrayOfProduct"/>
                    <xs:element name="total_price" type="xs:string"/>
                    <xs:element name="penalty" type="xs:string"/>
                    <xs:element name="multipnr" type="xs:string"/>
                    <xs:element name="timelimit" type="xs:string"/>
                    <xs:element name="link" type="xs:string"/>
                    <xs:element minOccurs="0" name="fare_id"
                        nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="linked_fare_ids"
                        nillable="true" type="tns:ArrayOfGetOptimalFaresLinkedFareID"/>
                    <xs:element name="directions" type="tns:ArrayOfGetOptimalFaresDirection"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGetOptimalFaresOffer">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="GetOptimalFaresOffer" nillable="true" type="tns:GetOptimalFaresOffer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetOptimalFaresOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" type="tns:CIBESOAPError"/>
                        <xs:element name="currency" type="xs:string"/>
                        <xs:element name="offers" type="tns:ArrayOfGetOptimalFaresOffer"/>
                        <xs:element name="affiliate_link" type="xs:string"/>
                        <xs:element name="shallow_link" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetOptimalFares">
        <wsdl:part element="tns:GetOptimalFaresInput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="GetOptimalFaresResponse">
        <wsdl:part element="tns:GetOptimalFaresOutput" name="parameter"/>
    </wsdl:message>
    <wsdl:portType name="TAISSoapPort">
        <wsdl:operation name="GetOptimalFares">
            <wsdl:input message="tns:GetOptimalFares"/>
            <wsdl:output message="tns:GetOptimalFaresResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TAISSoapBinding" type="tns:TAISSoapPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetOptimalFares">
            <soap:operation soapAction="urn:#GetOptimalFares"/>
            <wsdl:input>
                <soap:body namespace="http://www.tais.ru/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://www.tais.ru/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TAIS">
        <wsdl:port binding="tns:TAISSoapBinding" name="TAISSoapPort">
            <soap:address location="http://search.biletix.ru/bitrix/components/travelshop/ibe.soap/travelshop_booking.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
